<%#=discover頁面區域%>
<div class="bg-gray-100 grid grid-cols-12 mx-5">
<%#=左邊區域左邊區域左邊區域左邊區域左邊區域左邊區域左邊區域左邊區域左邊區域%>
  <div class="col-span-9 bg-white">
<%#=左邊區域-橫的-套完了%>

    <div class="border-b border-gray-200 m-4">
      <div class="text-2xl">Charts: New & hot</div>
      <div class="text-xs text-gray-500 my-2">Up-and-coming tracks on SoundCloud</div>
      <div class="flex overflow-scroll text-gray-500 text-xs">

        <% @songs.each do |song|%>
          <% if song.image_url %>

            <div class="my-2 mr-2">
              <%# <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt=""> %>
              <%= image_tag song.image_url, class:'h-32 max-w-xl mr-4' %>
              <%# <div class="">All music genres</div>
              <div class="text-xs text-gray-500">New & Hot</div> %>
             
                <%= content_tag(:li,content_tag(:a, song.name, href: song_path(song)), data: {value: song.name} ) %>
              
             
                <%= content_tag(:li,song.intro, data: {value: song.intro} ) %>
              
             
                <% if song.tags.length > 0 %>
                  <% song.tags.each do |tag| %>
                    <%= tag.name %>
                  <% end %>
                <% end %>
              
            </div>

          <% end %>
        <% end %>  
        
      </div>
    </div>

<%#=左邊區域-直的%>
    <div class="border-b border-gray-200 m-4">
      <div class="text-2xl">More of what you like</div>
      <div class="text-xs text-gray-500 my-2">Suggestions based on what you've liked or played</div>
      <div class="flex justify-around p-5 bg-gradient-to-r from-red-500 via-orange-400 to-black rounded-lg"> <%#=專輯內圖、取名、hover愛心、播放%>
        <div class="w-1/4 bg-cover" style="background-image: url(https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg)"></div>
        <div class="w-3/4 overflow-auto h-48"> <%#=曲名區域%>
          
          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>
          
          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

        </div>

      </div>
      <button class="text-center p-1 border border-gray-400 ml-auto my-3 block rounded text-xs">Go to Playlist</button>
    </div>

<%#=左邊區域-橫的%>
    <div class="border-b border-gray-200 m-4">
      <div class="text-2xl">Charts: Top 50</div>
      <div class="text-xs text-gray-500 my-2">The most played tracks on SoundCloud this week</div>
      <div class="flex my-4 overflow-scroll">
      
        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

      </div>
    </div>
    



<%#=左邊區域-直的%>
    <div class="border-b border-gray-200 m-4">
      <div class="text-2xl">The Upload</div>
      <div class="text-xs text-gray-500 my-2">Newly posted tracks. Just for you</div>
      <div class="flex justify-aroundp-3 p-5 bg-gradient-to-r from-gray-500 via-white to-pink-300"> <%#=專輯內圖、取名、hover愛心、播放%>
        <div class="w-1/4 bg-cover" style="background-image: url(https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg)"></div>
        <div class="w-3/4 overflow-auto h-48"> <%#=曲名區域%>
          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>
          
          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>
        </div>
      </div>
      <button class="text-center p-1 border border-gray-400 ml-auto my-3 block rounded text-xs">Go to Playlist</button>
    </div>

<%#=左邊區域-直的%>
    <div class="border-b border-gray-200 m-4">
      <div class="text-2xl">SoundCloud Weekly</div>
      <div class="text-xs text-gray-500 my-2">All of SoundCloud. Just for you</div>
      <div class="flex justify-aroundp-3 p-5 bg-gradient-to-r from-gray-400 via-white to-red-400"> <%#=專輯內圖、取名、hover愛心、播放%>
        <div class="w-1/4 bg-cover" style="background-image: url(https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg)"></div>
        <div class="w-3/4 overflow-auto h-48"> <%#=曲名區域%>
          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>
          
          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>

          <div class="flex justify-around hover:bg-gray-100 border-b border-gray-100 mx-2">
            <div class="w-9/12 m-2 text-base text-gray-500">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
            <div class="w-3/12 m-2 text-base text-gray-500 text-right">375K</div>
          </div>
        </div>
      </div>
      <button class="text-center p-1 border border-gray-400 ml-auto my-3 block rounded text-xs">Go to Playlist</button>
    </div>

<%#=左邊區域-橫的%>
    <div class="p-5">
      <div class="text-2xl">Relax</div>
      <div class="text-xs text-gray-500 my-2">Popular playlists from the SoundCloud community</div>
      <div class="flex my-4 overflow-scroll">
        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

      </div>
    </div>

<%#=左邊區域-橫的%>
    <div class="border-b border-gray-200 m-4">
      <div class="text-2xl">Chill</div>
      <div class="text-xs text-gray-500 my-2">Popular playlists from the SoundCloud community</div>
      <div class="flex my-4 overflow-scroll">
        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

      </div>
    </div>

<%#=左邊區域-橫的%>
<%#=左邊區域-10%>
<%#=左邊區域-11%>
<%#=左邊區域-12%>

  </div>

<%#=右邊區域右邊區域右邊區域右邊區域右邊區域右邊區域右邊區域右邊區域右邊區域%>
  <div class="col-span-3 bg-white p-5 right-0 border-l boder-gray-200">
<%#=分隔線區域%>
    <div class="flex justify-between text-gray-500 border-b border-gray-200 text-sm p-2">
      
      <button class="hover:text-red-700">
        <i class="fas fa-heart"></i>
        2 likes
      </button>
      <button class="hover:text-black">view all</button>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around text-gray-500">
          <a href=""><i class="fas fa-arrow-right"></i>261K</a>
          <a href=""><i class="fas fa-heart"></i>3315</a>
          <a href=""><i class="fas fa-history"></i>60</a>
          <a href=""><i class="fas fa-comment-dots"></i>101</a>
        </div>
        
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
        
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
        
      </div>
    </div>

<%#=分隔線區域%>
    <div class="flex justify-between text-gray-500 border-b border-gray-300 text-sm p-2">
      <button class="">
        <i class="fas fa-history"></i>
        Listening History
      </button>
      <button class="hover:text-black">view all</button>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
        
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
        
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
        
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
        
      </div>
    </div>
    
    <div class="flex border-t border-gray-500">
      <div class="my-3 text-xs table-row-group">
        <div class="">
          <span class="hover:text-black"><a href="#">Legal</a></span>
            -
          <span class="hover:text-black"><a href="#">Privacy</a></span>
            -
          <span class="hover:text-black"><a href="#">Cookies</a></span>
            -
          <span class="hover:text-black"><a href="#">Imprint</a></span>
            -
          <span class="hover:text-black"><a href="#">Creator Resources</a></span>
            -           
          <span class="hover:text-black"><a href="#">Blog</a></span>
            -          
          <span class="hover:text-black"><a href="#">Charts</a></span>
            -         
          <span class="hover:text-black"><a href="#">Popular Search</a></span>
        </div>
        
          <div class="mt-2 mb-20">
            Language: English (US)
          </div>

      </div>
    </div>
  </div>

</div>