<h1>這是首頁</h1>
<% if current_user %>
  <%= link_to 'song page', user_songs_path(current_user.id) %>
  <%= link_to 'profile', user_path(current_user.id) %>
  <%= link_to 'play list', user_playlists_path(current_user.id) %>
<% end %>

<ul>
  <% @songs.each do |song|%>
    <li><%= song.name %></li>
  <% end %>
</ul>