<h1>這是首頁</h1>
<% if current_user %>
  <%= link_to 'song page', user_songs_path(current_user.id) %>
  <%= link_to 'profile', user_path(current_user.id) %>
  <%= link_to 'play list', user_playlists_path(current_user.id) %>
<% end %>

<% @songs.each do |song| %>
<ul> 
  <li> <%= link_to song.name, song_path(song) %> </li>
</ul>
<% end %>
