<h1>這是Stream</h1>
<div class="flex">
  <div class="m-4 w-3/4">  
    <div class="text-xl text-gray-500">Hear the latest posts from the people you’re following:</div>
  </div>
  <div class="m-4 w-1/4 text-gray-500">

    <div class="flex justify-between">
      <div class="">
        <i class="fas fa-user-friends"></i>
        who to follow
      </div>
      <div class="">
        <i class="fas fa-redo"></i>
        Refresh
      </div>
    </div>

    <div class="m-4 flex">
      <img class="w-1/5 rounded-full" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
      <div class="flex-col items-end">
        Tipsy Records
        <div class="flex">
          <div class="">
            <i class="fas fa-user-friends"></i>
            60.7K
            <i class="fab fa-soundcloud"></i>
            33
          </div>
          <div class="">
            <i class="fas fa-user-check"></i>
            Fllow+
          </div>
        </div>
      </div>
    </div>

  </div>
</div>