
<%= link_to 'new song',  new_song_path %>

<% @songs.each do |song|%>
  <ul>
      <li><%= song.name %></li>
      <li><%= song.intro %></li>
      <li><%= link_to '點擊', song.track_url %></li>
  </ul>
<% end %>
