<% if @play_lists %>
  <% @play_lists.each do |list| %>
    <li>
      <%= list.name %>
      <%= link_to "加入", list_toggle_path(list.id, @song_id ), :method => "post" %>
    </li>
  <% end %>
<% end %>