$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

.soundcloud {
  background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_b@2x-7e5ff471.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.songcover {
  background-image: url(https://i1.sndcdn.com/artworks-7ibIwyImTLluzSwD-ortabg-t500x500.jpg);
  width: 180px;
  height: 180px;
  background-size: cover;
  margin :auto;
}
.songcover1 {
  background-image: url(https://a-v2.sndcdn.com/assets/images/hp_creator_image@2x-2200a5f9.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
}
.comment-avatar>img{
  max-width: initial;
}