<h1 class="room">publisher</h1>
<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
<p>
  <strong>Session:</strong>
  <%= @room.session_id %>
</p>
<div id="publisher"></div>

<%= link_to 'Back', rooms_path %>
