<h1>Add to Playlist</h1>

<% if @playlists %>
  <% @playlists.each do |playlist| %>
    <li>
      <%= playlist.name %>
      <%#= link_to "加入", list_toggle_path(list.id, @song_id ), :method => "post" %>
    </li>
  <% end %>
<% else %>
  <p>No playlist</p>  
<% end %>