<h1>Playlist</h1>
<%= link_to 'new play list', new_user_playlist_path(current_user.id) %>
<%= link_to 'go back', root_path %>

<% if @playlists %>
  <ul>
    <% @playlists.each do |playlist| %>
      <li>Name: <%= link_to playlist.name, playlist_path(playlist) %></li>
    <%= content_tag(:li, playlist.id , data: {id: playlist.id} ) %>

    <% end %>
  </ul>
<% else %>
  <li>you have no playlist</li>
<% end %>
